<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <table class='table'>        
        <thead>
          <tr><th>{{#link-to 'projects.new'}}New Project{{/link-to}}</th></tr>
          <tr><th>Actual Projects</th></tr>
        </thead>
        {{#each model}}
        <tr><td>
            {{#link-to 'project' this}}{{title}} <small class='muted'>by {{author}}</small>{{/link-to}}            
        </td></tr>
        {{/each}}
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>